<h3>メモ<%= @memo[:id] %></h3>
<form method="post" action="/memos/<%= @memo[:id] %>">
  <label>メモ名 </label><br>
  <input type="text" name="name" value="<%= CGI.escapeHTML(@memo[:name]) %>" class="name_form"><br>
  <label>内容</label><br>
  <textarea name="text" class="text_form"><%= CGI.escapeHTML(@memo[:text]) %></textarea><br>
  <input type="submit" class="button change" value="変更">
  <input type="hidden" name="_method" value="patch">
</form>
