<form method="post" action="/memos">
  <label for="name">メモ名</label>
  <input type="text" name="name" placeholder="買い物メモ" class="name_form" id="name" maxlength="30">
  <label for="text">メモの内容</label>
  <textarea name="text" placeholder="エリンギを買う" class="text_form" id="text" maxlength="150"></textarea>
  <input type="submit" value="保存" class="button">
</form>
