<form method="post" action="/memos">
  <label>メモ名</label>
  <input type="text" name="name" placeholder="買い物メモ" class="name_form">
  <label>メモの内容</label>
  <textarea name="text" placeholder="エリンギを買う" class="text_form"></textarea>
  <input type="submit" value="保存" class="button">
</form>
