body {
  background-color: rgb(233, 232, 230);
}

.container {
  margin: 20px;
  width: 320px;
  height: 400px;
  padding: 20px;
  background-color: rgba(247, 247, 248, 0.874);
  border-radius: 4px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
  color: gray;
  padding-left: 4px;
}

.name_form{
  margin-bottom: 20px;
  width: 300px;
}

.text_form{
  margin-bottom: 12px;
  margin-bottom: 4px;
  width: 300px;
  height: 120px;
}

.button.wrapper {
  display: flex;
}

.button{
  margin-top: 8px;
}

a.button{
  margin-right: 40px;
}
